#root {
    width: 100%;
    max-width: none;
    min-height: 100svh;
    margin: 0;
    border: none;
    text-align: left;
}

body {
    background: #050a05;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}